@import url('../style.less');

.mold {
    float: right;
    margin-right: 0 !important;
}

.text-ellipsis-cell {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}