@import url('../style.less');

.order-container {
    padding: 20px;

    .el-form-item {
        margin-right: 15px !important;
    }

    .keyword {
        width: 250px;
    }

    .mold {
        float: right;
        margin-right: 0px !important;
    }

    .order-list {
        min-height: 582px;

        .order {
            border: solid 1px @bc-1;
            margin-bottom: 20px;
            width: 100%;
            cursor: default;

            .header {
                overflow: hidden;
                font-size: 13px;
                color: @fc-3;
                background-color: @bgc-1;
                padding: 10px 20px;

                .datetime {
                    margin-top: 2px;
                    margin-right: 30px;
                    float: left;
                    user-select: none;
                }

                .uuid {
                    float: left;
                }

                .detail {
                    float: right;
                    cursor: pointer;
                    user-select: none;

                    &:hover {
                        color: @fc-27;
                    }
                }
            }

            .content {
                display: flex;
                padding: 20px;
                user-select: none;

                .image {
                    width: 60px;
                    height: 60px;
                }

                .info {
                    width: 300px;
                    margin-left: 20px;
                    border-right: dashed 1px @bc-1;
                    padding-right: 25px;

                    h4 {
                        font-size: 15px;
                        color: @fc-1;
                        font-weight: normal;
                        margin-top: 0;
                        margin-bottom: 5px;
                        padding: 0;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 12px;
                        color: @fc-3;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        line-height: 1.5;
                    }
                }

                .label {
                    width: 70px;
                    display: block;
                    text-align: center;
                    font-size: 13px;
                    color: @fc-3;
                    margin-top: 10px;
                }

                .value {
                    display: block;
                    text-align: center;
                    font-size: 13px;
                    color: @fc-23;
                    margin-top: 6px;
                }

                .border {
                    border-right: dashed 1px @bc-1;
                    padding: 0 25px;
                }

                .goods-info {
                    display: flex;
                    cursor: pointer;

                    .info:hover {

                        h4,
                        p {
                            color: red;
                        }

                    }
                }

                .price,
                .amount {
                    .border;
                }

                .number {
                    .border;

                    .value {
                        color: @fc-3;
                    }
                }

                .status {
                    .border;

                    .value {
                        color: @fc-23;
                        font-size: 12px;
                    }
                }

                .operate {
                    margin-left: 20px;
                    padding-top: 15px;
                }
            }
        }
    }

    .empty {
        height: 600px;
    }

}

.refund-order-info {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;

    .image {
        width: 100px;
        height: 100px;
    }

    .goods-info {
        width: 300px;
        margin-left: 20px;

        .goods-title {
            height: 60px;
            color: black;
            font-size: 20px;
        }

        .order-info {

            justify-content: space-between;
            width: 250px;
        }
    }
}

.appointment {
    border: solid 1px @bc-19;
    border-radius: 3px;
    margin: 0 10px 0 10px;
    padding: 0 20px;

    legend {
        padding: 0 15px;
        margin-bottom: 20px;

        h4 {
            font-size: 16px;
            margin: 0;
        }
    }
}


.appointmentInfo-container {
    width: 630px;
    height: 400px;
    margin: 0 auto;

    .info-item {
        width: 620px;
        position: relative;
        /* 为绝对定位的子元素提供参照物 */
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        border-bottom: 1px solid #eee;

        span {
            width: 50%;
            margin-bottom: 8px;
            text-align: left;
            display: inline-block;
            /* 设置为 inline-bloce，既可以设置 width 和 margin，又能像行内元素一样排列 */
            font-weight: bold;
        }

        span:nth-child(7) {
            width: 100%;
        }

        .status-span {
            position: absolute;
            /* 绝对定位 */
            top: 10px;
            /* 距离顶部的距离，需与 padding 匹配 */
            right: 0;
            /* 靠右 */
            width: auto;
            /* 宽度自适应 */
            margin: 0;
            /* 清除之前的 margin */
            font-weight: bold;
            font-size: 17px;
            margin-right: 10px;
        }

        /* 1: 未签到 */
        .status-1 {
            color: #e6a23c;
        }

        /* 2: 已签到 */
        .status-2 {
            color: #67c23a;
        }

        /* 3: 已结束 */
        .status-3 {
            color: #909399;
        }

        /* 4: 已关闭 */
        .status-4 {
            color: #f56c6c;
        }
    }
}